<form action="/api/sessions/login" method="POST">
    <label for="user"> Email: </label>
    <input type="email" required name="user">

    <label for="password"> Password: </label>
    <input type="password" name="password" required>

    <button class="btn" type="submit"> Login </button>
</form>